@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-roboto-flex);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
